* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #44a08d, #093637);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 45px;
  font-weight: 500;
  margin-top: -50px;
  margin-bottom: 50px;
  color: rgba(218, 255, 245, 0.899);
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 500px) {
  .hero h1 {
    font-size: 35px; /* Smaller font size for mobile */
    line-height: 1.5;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-top: -100px;

    /* Adjust line-height for better readability on smaller screens */
    /* Adjust margin for mobile */
  }
}
textarea {
  width: 600px;
  height: 250px;
  background: rgba(130, 189, 172, 0.412);
  border-radius: 10px;
  padding: 20px;
  border: none;
  color: rgba(0, 43, 42, 0.916);
  font-size: large;
  resize: none;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  textarea {
    width: 150px;
    margin-left: -150px;
  }
}
textarea:focus {
  outline: none;
  border: none;
}

textarea::placeholder {
  color: #093637;
}

.row {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  background-color: #093637c3;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
}

button img {
  width: 12px;
  margin-right: 7px;
}

select {
  flex: 1;
  color: #fff;
  background-color: #093637c3;
  height: 50px;
  padding: 0 20px;
  outline: none;
  border: 0;
  border-radius: 35px;
  appearance: none;
  background-image: url(images/dropdown.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: calc(100% - 20px);
  background-position-y: 20px;
}
